body { 
    background-color: lightgreen;
}

h4, h3 { 
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.zulu { 
    font-style: italic;
    color: black;
}

.tutu { 
    font-style: italic;
    color: black;
}

p { 
    color: black;
}

h1 { 
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

hr {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}